@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-blue: #012c66;
  --primary-yellow: #ffb80d;
  --white: #ffffff;
  --gray-dark: #545454;
  --gray-light: #a6a6a6;
}

@font-face {
  font-family: 'Benedict';
  src: url('/fonts/Benedict.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--gray-dark);
  background: var(--white);
  font-family: 'Poppins', 'Benedict', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para o layout principal */
.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  min-height: 100vh;
}

/* Responsividade */
@media (max-width: 1024px) {
  .main-layout {
    grid-template-columns: 250px 1fr;
  }
}

@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
}
